* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/newimg/MSLearn_SA_Blog_850x376_Black_Int_1x.jp);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 175px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    background: rgba(21, 143, 58, 0);
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.language-btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.language-btn image {
    width: 10px;
    margin-left: 10px;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 400;
    margin-bottom: 20px;
}

.email-signup {
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.email-signup input {
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
}

.email-signup button {
    background: #086de9fd;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px;
}

/* ---------------features-------------- */
.features {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col1 {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col1 {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col1 img {
    padding-top: 40px;
    display: inline-flex;
    width: 100%;
    margin: auto;
}

/* to make it like n change text-col flex-basis to 50% */
.text-col {
    flex-basis: 100%;
    margin-bottom: 20px;
}

/* .img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
} */
.img-col img {
    display: block;
    width: 90%;
    margin: auto;
}

/* .features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
} */
/* -------------------------faq------------------------- */
.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-weight: 500;
    font-size: 40px;
}

.nav_logo {
    width: 38px;
    object-fit: contain;
}

.nav_avatar {
    width: ;
    object-fit: contain;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav__black {
    background-color: #111111d3;
}

a {
    color: inherit;
    text-decoration-color: inherit;
    text-decoration: inherit;
}

.card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(abdul.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(dobby.jpg);
}

.card2 {
    background-image: url(anand.jpg);
}

.card3 {
    background-image: url(abdul.jpg);
}

.card4 {
    background-image: url(manas.jpg);
}

.card5 {
    background-image: url(jai.jpg);
}

.card6 {
    background-image: url(rohit.jpg);
}

.card7 {
    background-image: url(abhishek.jpg);
}

.card8 {
    background-image: url(dontknow.jpg);
}

.card9 {
    background-image: url(piyush.jpg);
}

.card10 {
    background-image: url(yogi.jpg);
}

.card11 {
    background-image: url(puhpak.jpg);
}

.card12 {
    background-image: url(yogi1c.jpg);
}

.card13 {
    background-image: url(bhumikac.jpg);
}

.card:hover {
    transform: translateY(-10px);
}

h5 {
    color: #fff;
    text-shadow: 0 0 5px #999;
}

.card p {
    text-shadow: 0 0 5px #000;
    font-size: 10px;
}

/* -----------------------------------navlist---------------------- */
.nav-menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.nav-menu li~li {
    margin-left: 30px;
}

.nav-menu a {
    text-transform: uppercase;
    font-weight: 300;
}

/* .nav-menu a:hover {
    color: var(--main-color);
} */

/* .nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
    color: unset;
} */
